<!DOCTYPE html>
<html lang="mi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Enable Netlify Identity widget - this is for the CMS -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Site icon, the image that appears in the browser tab -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">

  <!-- Poppins - Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Font Awesome - icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- my css -->
  <link rel="stylesheet" href="/style.css">

  <!-- Site Title - the appears in your browser tab -->
  <title>{{ title }}</title>
</head>

<body>
    <!-- These next four lines below are the whole page! -->
    <main>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </main>

    <!-- This bit of Javascript helps with the responsive Nav menu -->
    <script>
    function toggleMenu() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
        x.className = "topnav";
        }
    }
    </script>

    <!-- This bit of Javascript helps with Netlify Identity for the CMS -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

</body>
</html>