---
type: webpage
meta:
  language: mi
eleventyComputed:
  meta:
    site:
      name: "{{ metadata.title }}"
      description: "{{ metadata.description }}"
      url: "{{ metadata.url }}"
    title: "{{ title or metadata.title }}"
    description: "{{ description or metadata.description }}"
    image:
      src: "{% if image %}{{ metadata.url }}{{ image }}{% endif %}"
---
<!doctype html>
<html dir="ltr" lang="mi">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="theme-color" content="#f1f8f5">
  <link rel="canonical" href="https://nga-tipu-aotearoa-html-css-eleventy.netlify.app/">
  <meta name="description" content="Ngā Tipu Aotearoa provides access to information on plant taxa that occur in New Zealand.">
  
  <!-- Open Graph protocol for social media and browsers -->
  <meta property="og:site_name" content="Ngā Tipu Aotearoa">
  <meta property="og:url" content="https://nga-tipu-aotearoa-html-css-eleventy.netlify.app/">
  <meta property="og:title" content="Ngā Tipu Aotearoa">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Ngā Tipu Aotearoa provides access to information on plant taxa that occur in New Zealand.">
  <meta property="og:image" content="https://nga-tipu-aotearoa-html-css-eleventy.netlify.app/images/beech-forest-565.jpg" />
  <meta property="og:image:secure_url" content="https://nga-tipu-aotearoa-html-css-eleventy.netlify.app/images/beech-forest-565.jpg" />
  <meta property="og:image:width" content="565" />
  <meta property="og:image:height" content="424" />

  <!-- Twitter meta tag data -->
  <meta name="twitter:site" content="@">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Ngā Tipu Aotearoa">
  <meta name="twitter:description" content="Ngā Tipu Aotearoa provides access to information on plant taxa that occur in New Zealand.">
  <meta name="twitter:image" content=" https://nga-tipu-aotearoa-html-css-eleventy.netlify.app/images/beech-forest-565.jpg">
  <meta name="twitter:image:alt" content="Mountain beech | Ngā Tipu Aotearoa">

  {% jsonLdScript meta, type, tags %}

  <!-- Enable Netlify Identity widget - this is for the CMS -->
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Site icon, the image that appears in the browser tab -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">

  <!-- Minified CSS including Google Fonts and Font Awesome. Generated at https://www.sitelocity.com/critical-path-css-generator -->
  {# <link rel="preload" href="/nga-tipu-aotearoa-html-css-eleventy.netlify.app_app_min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"> #}
  <link rel="stylesheet" href="/src/nga-tipu-aotearoa-html-css-eleventy.netlify.app_app.css">

  <!-- Poppins - Google font -->
  {# <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet"> #}

  <!-- Font Awesome - icons -->
  {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> #}

  <!-- my css -->
  {# <link rel="preload" href="/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="stylesheet" href="/style.css"> #}

  <!-- Site Title - the appears in your browser tab -->
  <title>{{ title }}</title>
</head>

<body>

    <!-- These next four lines below are the whole page! -->
    <main>
        {% include 'header.njk' %}
        {{ content | safe }}
        {% include 'footer.njk' %}
    </main>

    <!-- This bit of Javascript helps with the responsive Nav menu -->
    <script>
      function toggleMenu() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
          x.className += " responsive";
          } else {
          x.className = "topnav";
          }
      }
    </script>

    <!-- This bit of Javascript helps with Netlify Identity for the CMS -->
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>

</body>
</html>