      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

          FOOTER
    
        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <footer>
    <p>
      The Plant Names Database lists over 46,000 names and is a primary source of information for Ngā Tipu o Aotearoa - New Zealand Plants. The purpose of the New Zealand Plant Names Database is to provide an authoritative record of the scientific names, taxonomic concepts (i.e., synonymies), and biostatus for the lichens, liverworts, mosses, ferns, freshwater algae and seed plants in New Zealand. It also records the associated literature, vernacular and Māori names, as well as recently published keys and descriptions for some taxa. Editorial work on the Plant Names Database is ongoing and as new treatments, taxa and naturalisations are published these are added to the database.
    </p>
    <div class="footer-grid">

      <article class="footer__menu">
        <h2 class="footer__menu__heading">
          Identification
        </h2>
        <ul class="footer__menu__list">
          <li><a href="#">What is this bug?</a></li>
          <li><a href="#">Invertebrates</a></li>
          <li><a href="#">Plants</a></li>
          <li><a href="#">Fungi</a></li>
        </ul>
      </article>

      <article class="footer__menu">
        <h2 class="footer__menu__heading">
          Resources
        </h2>
        <ul class="footer__menu__list">
          <li><a href="#">Collections</a></li>
          <li><a href="#">Databases</a></li>
          <li><a href="#">Mapping</a></li>
        </ul>
      </article>

      <article class="footer__menu">
        <h2 class="footer__menu__heading">
          Education
        </h2>
        <ul class="footer__menu__list">
          <li><a href="#">Teaching</a></li>
          <li><a href="#">Learning</a></li>
        </ul>
      </article>

      <article class="footer__menu">
        <h2 class="footer__menu__heading">
          Other links
        </h2>
        <ul class="footer__menu__list">
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Our people</a></li>
          <li><a href="#">Terms & conditions</a></li>
          <li><a href="#">Privacy statement</a></li>
        </ul>
      </article>

    </div>

    <div class="footer__site-details">
      <p>Copyright Ngā Tipu Aotearoa &copy; 2022.</p>
    </div>
  </footer>