---
layout: 'base.njk'
---
    
<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    SINGLE NEWS ARTICLE - IN FULL
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <article class="newspage__card" aria-label="This is a news snippet">
      <h2 class="newspage__title">{{ title }}</h2>

      <figure class="newspage__card__image" role="img" aria-label="{{ imageAlt }}">
        <img src="{{ image }}" alt="{{ imageAlt }}">
        <figcaption>
            {{ imageAlt }}
        </figcaption>
      </figure>

      <h3 class="newspage__card__desc">{{ description }}</h3>

      <p class="newspage__card__intro">{{ introduction }}</p>

      <div class="newspage__content">

        {{ content | safe }}

      </div>

  </article>