<article class="news__item" aria-label="This is an individual news item">
    <div class="news__item__image" role="img" aria-label="{{ post.data.imageAlt }}">
        <a href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"></a>
    </div>
    <h2 class="news__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="news__intro">{{ post.data.description }}</p>
    <p class="news__date">{{ post.date | postDate }}</p>
    <a href="{{ post.url }}" class="readmore-button">
        Read more &hellip;
    </a>
</article>