{# ---
type: post
eleventyComputed:
  meta:
    title:
      name: "{{ post.data.title }}"
    published: "{{ post.date | iso8601 }}"
    modified: "{% if updateDate %}{{ updateDate | iso8601 }}{% endif %}"
--- #}

<article class="news__item">
    <div class="news__item__image">
        <a href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}"></a>
    </div>
    <h2 class="news__title"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
    <p class="news__intro">{{ post.data.description }}</p>
    <p class="news__date">{{ post.date | postDate }}</p>
    <a href="{{ post.url }}" class="readmore-button">
        Read more &hellip;
    </a>
</article>