---
layout: 'base.njk'
---
    
<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    ARTICLE
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <article class="plantpage__card">
      <h2 class="plantpage__title">{{ title }}</h2>

      <figure class="plantpage__card__image">
        <img  src="{{ image }}" alt="{{ imageAlt }}">
        <figcaption>
            {{ imageAlt }}
        </figcaption>
      </figure>

      <h3 class="plantpage__card__desc">{{ description }}</h3>

      <p class="plantpage__card__intro">{{ introduction }}</p>

      <div class="plantpage__content">

        {{ content | safe }}

      </div>

  </article>