---
title: About
layout: 'base.njk'
---

      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

          PAGE ARTICLE
    
        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

        <article class="page__card">

                <h2 class="plantpage__card__desc__h2">About this website</h2>

                <h3 class="plantpage__card__desc__h3">This is an archive of New Zealand plants.</h3>
                
                <p class="plantpage__card__desc__intro">Beech forests are the largest remaining indigenous forest type in New Zealand, mainly because beech forests are found on mountainous land not generally regarded as the best for agriculture.</p>

        </article>
