---
title: About
layout: 'base.njk'
---

      <!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

          PAGE ARTICLE
    
        = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

        <article class="page__card">

                <h2 class="plantpage__card__desc__h2">About this website</h2>

                <h3 class="plantpage__card__desc__h3">This is a temporary, testing website for a web design course.</h3>
                
                <p class="plantpage__card__desc__intro"> The aim is to create HTML/CSS pages, and then convert to 11ty, to make use of the Neltlify CMS and Netlify Forms.<br><br>The Files are in a Public repository on Git hub: <a href="https://github.com/martinkean/Nga-Tipu-Aotearoa-HTML-CSS-Eleventy">https://github.com/martinkean/Nga-Tipu-Aotearoa-HTML-CSS-Eleventy</a><br>Questions and comments: <a href="mailto:martinkean15@gmail.com">martinkean15@gmail.com</a></p>
                <br>
                <p class="plantpage__card__desc__intro">Many thanks and no disrespect to:</p>
                <p class="plantpage__card__desc__intro">Ngā Tipu Aotearoa - New Zealand Plants: <a href="https://nzflora.landcareresearch.co.nz/">https://nzflora.landcareresearch.co.nz/</a></p>
                <p class="plantpage__card__desc__intro">Manaaki Whenua - Landcare Research: <a href="https://www.landcareresearch.co.nz/tools-and-resources/databases/nga-tipu-aotearoa-new-zealand-plants/">https://www.landcareresearch.co.nz/tools-and-resources/databases/nga-tipu-aotearoa-new-zealand-plants/</a></p>
                <br>
                <p class="plantpage__card__desc__intro">This is an archive of New Zealand plants. Beech forests are the largest remaining indigenous forest type in New Zealand, mainly because beech forests are found on mountainous land not generally regarded as the best for agriculture.</p>
        </article>
