---
title: Ngā Tipu Aotearoa
layout: 'base.njk'
---

<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    INTRODUCTION OR HEADER BANNER
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <div class="introduction" role="banner">
    <h2>
      Ng&amacr; Tipu Aotearoa &ndash; New Zealand Plants
    </h2>
    <p>
      Ngā Tipu Aotearoa provides access to information on plant taxa that occur in New Zealand. The website combines data from the Plant Names Database and the Allan Herbarium Specimen Database &ndash; providing access to information on the scientific and vernacular names, synonyms, distribution and collection data, keys, descriptions and images. It currently includes the data for the seed plants, mosses, ferns, liverworts, hornworts, lichens and freshwater algae.
    </p>
    <a href="#" class="readmore-button">
      Continue reading &hellip;
    </a>
  </div>

<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    GRID LAYOUT FOR THE PLANTS CARDS ON THE HOME PAGE
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <section class="plants__grid" aria-label=">Plants of New Zealand displayed in a grid">
      <h2 style="display: none;">Plants of New Zealand displayed in a grid</h2> <!-- For WAI ARIA -->

      {%- for post in collections.plants | reverse -%}

          <article class="plant__item">
              <div role="img" aria-label="{{ post.data.imageAlt }}">
                  <a href="{{ post.url }}"><img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" width="400"></a>
              </div>
              <h2 class="plant__name"><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
              <p class="plant__desc">{{ post.data.description }}</p>
              <p class="plant__desc">{{ post.date | postDate }}</p>
              <a href="{{ post.url }}" class="readmore-button">
                  Read more &hellip;
              </a>
          </article>

      {%- endfor -%}

  </section>