---
title: News
layout: 'base.njk'
---

<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    FEATURED NEWS ARTICLES
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <div class="featured-news">
    <h2>Featured news</h2>
    <section class="featured-news-grid">

    {%- for post in collections.featured | reverse -%}
      {% include 'featured-news-snippet.njk' %}
    {%- endfor -%}

    <section>
  </div>
<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
    NEWS PAGE ARTICLES
  = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

  <div class="news__articles">
    <h2>News</h2>
    <h3>Recent news items below.</h3>
    <section class="news__grid">

      {%- for post in collections.news | reverse -%}
        {% include 'news-snippet.njk' %}
      {%- endfor -%}

    </section>
  </div>