.main-tool-bar {
  height: 80px;
  background: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
}
.main-tool-bar--scrolled {
  height: 40px;
}

.scrollable-area {
  height: 200vh;
}