---
title: Ngā Tipu Aotearoa
layout: 'base.njk'
---

<!-- = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =
          SUCCESSFUL CONTACT FORM SUBMISSION MESSAGE
     = = = = = = = = = = = = = = = = = = = = = = = = = = = = = = -->

        <article class="success-page">
                <h3 class="contact-form__heading">Thanks!</h3>
                <p aria-label="Successful contact form submisssion">
                    Your form submission has been received. We will be in touch!
                </p>
        </article>